name: Deploy docs to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: docs

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - run: npm ci

      - name: Generate Changelog
        run: npx standard-version
        continue-on-error: true

      - name: Commit and Push Changes
        run: |
          git push --follow-tags origin main
        continue-on-error: true

      - run: npm run build

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/dist

      - uses: actions/deploy-pages@v4
