name: Publish npm package

on:
  push:
    branches:
      - main
    paths:
      - 'react-fluid-tabs/**'

jobs:
  publish:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: react-fluid-tabs

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - run: npm ci

      - name: Generate Changelog
        run: npx standard-version
        continue-on-error: true

      - name: Commit and Push Changes
        run: |
          git push --follow-tags origin main
        continue-on-error: true

      - run: npm run build

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
